<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New car</title>
</head>
<body>

<form th:method="POST" th:action="@{/cars}" th:object="${carEntity}">
    <label for="marka">Enter marka:   </label>
    <input type="text" th:field="*{marka}" id="marka"/>
    <br/>


    <label for="number">Enter number: </label>
    <input type="text" th:field="*{number}" id="number"/>
    <br/>

    <label for="type">Enter type: </label>
    <input type="text" th:field="*{type}" id="type">

    <br/>
    <br/>
    <input type="submit" value="Create"/>
</form>

</body>
</html>